<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dream_team">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".owner.activities.EditDishScreen"></activity>
        <activity android:name=".owner.activities.AddEmployeeScreen" />
        <activity android:name=".common_activities.ProfileScreenActivity" />
        <activity android:name=".common_activities.SignUpScreen" />
        <activity android:name=".common_activities.OTPDialogActivity" />
        <activity android:name=".common_activities.Main2Activity" />
        <activity android:name=".common_activities.LoginScreen" />
        <activity android:name=".owner.activities.OwnerLoginScreen" />
        <activity android:name=".owner.activities.EditCategoryScreen" />
        <activity android:name=".owner.activities.AddMenuScreen" />
        <activity android:name=".common_activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>